@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme{
  --color-light: #fffce1;
  --color-dark: #010002;
  --color-green: #4ade80;
}

body {
  font-family:var(--font-montserrat),sans-serif;
}